.sidebar {
  width: 200px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 1;
  background-color: black;

  box-sizing: border-box;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 0;
  cursor: pointer;
  color: whitesmoke;
}
.sidebar ul li:hover {
  /* Add these properties for the hover effect */
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00,
    0 0 40px #00ff00;
  color: #00ff00;
}
