.styled-table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left: 15%;
  width: fit-content;
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.styled-button {
  background-color: #009879;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.styled-button:hover {
  background-color: #007f5f;
}

.sidebar {
  position: fixed;
  height: 50%;
  background-color: #006a98;
  color: whitesmoke;
  padding: 5px;
}

.nav-link {
  cursor: pointer;
  padding: 10px;
  transition: box-shadow 0.3s ease-in-out; /* Add this line for smooth transition */
}

.nav-link:hover {
  color: #212529;
  box-shadow: 0 0 20px 10px #8bafd2; /* Add this line for the glow */
}
