button {
  background-color: #009879;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: #007f5f;
}
.search {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-top: 25px;
  margin-left: 10%;
}
.search div {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  justify-self: center;
}
.search select,
button {
  margin-bottom: 5px;
  width: 100px;
}
.search label {
  width: 150px;
}
.searchuserprofile {
  display: flex;
}
.search .tag input {
  width: 100%;
}
.details {
  margin: 25px;
  padding: 0px;
  top: 1;
}
