.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(205, 114, 114);
  padding: 20px;
  border: 1px solid black;
  z-index: 10;
  margin: 15px;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
