.jobtitle,
.compaanylocation,
.salary,
.category,
.timeapplicants,
.postjobsbuttons {
  display: flex;
  margin-right: 5px;
  justify-content: center;
}

.card-body {
  height: 80%;
}
.category .jobtype,
.category .worktype,
.category .shift,
.category .experiencelevel {
  font-size: small;
  padding: 5px;
}
.category .jobtype {
  color: rgb(0, 128, 240);
}
.category .worktype {
  color: rgba(35, 139, 0, 0.987);
}
.category .shift {
  color: rgb(126, 52, 2);
}
.category .experiencelevel {
  color: rgb(70, 1, 134);
}

.timeapplicants .posted,
.timeapplicants .applicants {
  padding: 5px;
  font-size: small;
}
.timeapplicants .posted {
  color: rgb(126, 91, 3);
}
.timeapplicants .applicants {
  color: rgb(124, 0, 0);
}
