.card {
  background-color: darkgoldenrod;
  width: 18rem;
  overflow: auto;
  height: 350px;
}
.jobbuttons {
  display: flex;
  justify-content: space-around;
}
.jobbuttons button {
  width: 75px;
}
