.contacts {
  display: flex;
  width: auto;
  padding: 25px;
  justify-content: center;
  border: 0.5px solid lightgray;
  background-color: #fff;
  box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999,
    4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999;
}
.contactdetails {
  width: 100%;
  padding: 25px;
}
.contact-group {
  display: flex;
  width: 100%;
}

.contact-group input,
select {
  margin-inline-start: auto;
  width: 50%;
}

.contact-group label {
  margin-inline-end: auto;
  width: 50%;
}

.contact-group .location-search-input {
  width: 100%;
  padding: 0px;
  margin-top: 5px;
  height: auto;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 16px;
}

.contact-group .autocomplete-dropdown-container {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ddd;
  max-height: 200px;
  overflow-y: auto;
}

.contact-group .suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.contact-group .suggestion-item--active {
  background-color: #fafafa;
}
